<a href="https://colab.research.google.com/github/aayushkubb/Deep_Learning_Tutorial/blob/master/LSTM_Spam_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Context
The SMS Spam Collection is a set of SMS tagged messages that have been collected for SMS Spam research. It contains one set of SMS messages in English of 5,574 messages, tagged acording being ham (legitimate) or spam. 

# Problem Statement
Create a text classifier that can help us disambiguate Spam/Ham

# Evaluation Metrics

# Import

In [9]:
import pandas as pd
import numpy as np


#Classification Metrics
from sklearn.metrics import classification_report

#Read the dataset

In [2]:
sms_data = pd.read_csv("/content/drive/MyDrive/Case studies/spam.csv",encoding="ISO-8859-1")
sms_data.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [4]:
sms_data['v1'].value_counts(normalize=True)

ham     0.865937
spam    0.134063
Name: v1, dtype: float64

In [5]:
sms_data = sms_data[['v1', 'v2']]
sms_data = sms_data.rename(columns={"v1":"Target","v2":"SMS"})
sms_data.head()

  Target                                                SMS
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

# Baseline Model

In [7]:
y=sms_data['Target'].apply(lambda x: 1 if x.lower()=='spam' else 0)

In [11]:
#Create a model where everything is a "ham"
y_pred=np.zeros(len(y))
print("Baseline Model -1")
print(classification_report(y,y_pred))

#Create a model where you randomly assign "spam" or "ham"

Baseline Model -1
              precision    recall  f1-score   support

           0       0.87      1.00      0.93      4825
           1       0.00      0.00      0.00       747

    accuracy                           0.87      5572
   macro avg       0.43      0.50      0.46      5572
weighted avg       0.75      0.87      0.80      5572

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))